html{
	font-family: Helvetica,sans-serif;
}
a{
	color: #000000;
}
nav ul a{
	min-height: 70px;
}
.blog_body{
	background: #37b6ce;
    background: -moz-linear-gradient(top, #37b6ce -1%, #e0f3fa 0%, #37b6ce 50%, #37b6ce 51%, #d8f0fc 100%, #b6dffd 100%);
    background: -webkit-linear-gradient(top, #37b6ce -1%,#e0f3fa 0%,#37b6ce 50%,#37b6ce 51%,#d8f0fc 100%,#b6dffd 100%);
    background: linear-gradient(to bottom, #37b6ce -1%,#e0f3fa 0%,#37b6ce 50%,#37b6ce 51%,#d8f0fc 100%,#b6dffd 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#37b6ce', endColorstr='#b6dffd',GradientType=0 );
}
.index_body{
	background: #38a4de;
	background: -moz-linear-gradient(top, #38a4de 0%, #e0e0e0 58%, #e0e0e0 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, #38a4de), color-stop(58%, #e0e0e0), color-stop(100%, #e0e0e0));
	background: -webkit-linear-gradient(top, #38a4de 0%, #e0e0e0 58%, #e0e0e0 100%);
	background: -o-linear-gradient(top, #38a4de 0%, #e0e0e0 58%, #e0e0e0 100%);
	background: -ms-linear-gradient(top, #38a4de 0%, #e0e0e0 58%, #e0e0e0 100%);
	background: linear-gradient(to bottom, #38a4de 0%, #e0e0e0 58%, #e0e0e0 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#38a4de', endColorstr='#e0e0e0', GradientType=0 );
}
.html_info_body{
	background: #1da9cc;
	background: -moz-linear-gradient(top, #1da9cc 0%, #e0e0e0 58%, #c495c4 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, #1da9cc), color-stop(58%, #e0e0e0), color-stop(100%, #c495c4));
	background: -webkit-linear-gradient(top, #1da9cc 0%, #e0e0e0 58%, #c495c4 100%);
	background: -o-linear-gradient(top, #1da9cc 0%, #e0e0e0 58%, #c495c4 100%);
	background: -ms-linear-gradient(top, #1da9cc 0%, #e0e0e0 58%, #c495c4 100%);
	background: linear-gradient(to bottom, #1da9cc 0%, #e0e0e0 58%, #c495c4 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1da9cc', endColorstr='#c495c4', GradientType=0 );
}
.article_body{
	background: #f0f9ff; /* Old browsers */
	background: -moz-linear-gradient(-45deg, #f0f9ff 0%, #cbebff 100%, #a1dbff 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg, #f0f9ff 0%,#cbebff 100%,#a1dbff 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg, #f0f9ff 0%,#cbebff 100%,#a1dbff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f9ff', endColorstr='#a1dbff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.navbar{
	min-height: 70px;
}
.foot{
	padding-bottom: 10px;
}
.navbar, .foot{
	background: #cedce7; /* Old browsers */
    background: -moz-linear-gradient(top, #cedce7 0%, #596a72 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #cedce7 0%,#596a72 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #cedce7 0%,#596a72 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cedce7', endColorstr='#596a72',GradientType=0 ); /* IE6-9 */
}
.brand-logo{
	height: 63px;
    width: 63px;
    margin: 5px 5px;
}
.welcome{
	margin-left: 20px;
}
.container{
	margin-top: 25px;
}
.row{
	margin-bottom: 0px;
}
.description_text{
	min-height: 500px;
}
.description_text_bottom, .description_text_above{
	height: 239px;
}
.inside_text{
	text-align: justify;
}
.tag_image{
	width: 150px;
	height: 150px;
	float: right;
	margin: 15px;
}
.link_img{
	width: 15px;
	height: 15px;
}
.header_welcome{
	margin-top: -32px;
	height: 300px;
	background-image: url(../images/header_welcome.jpg);
	background-repeat: repeat;
	background-size: cover;
}
.html_header{
	margin-top: -32px;
	height: 300px;
	background-image: url(../images/html_info.jpg);
	background-repeat: repeat;
	background-size: cover;
}
.blog_header{
	margin-top: -32px;
	height: 300px;
	background-image: url(../images/blog_info.png);
	background-repeat: repeat;
	background-size: cover;
}
.article_header{
	height: 300px;
	background-image: url(../images/article.jpg);
	background-repeat: repeat;
	background-size: cover;
}
.article_header_content{
	height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
    flex-direction: column;
    position: relative;
}
.html_material_title, .blog_material_title{
	width: 700px;
	margin: 0px auto;
}
.html_title_text, .blog_title_text{
	height: 200px;
	width: 600px;
	text-align: justify;
}
.blog_card{
	background-color: #a7ffeb;
	min-height: 250px;
	text-align: justify;
}
.html_info{
	background-color: #e6e6fa;
	text-align: justify;
}
.blog_article{
	text-align: justify;
}
#html, #Vue, #mongodb{
	background-color: #ff9800;
}
#css, #mysql{
	background-color: #00bcd4;
}
#sass, #express{
	background-color: #c6ff00;
}
#less{
	background-color: #aed581;
}
#jQuery, #bootstrap{
	background-color: #ab47bc;
}
#AngularJS, #postcss{
	background-color: #64ffda;
}
#JavaScript{
	background-color: #26a69a;
}
#ReactJS{
	background-color: #f06292;
}
#materialize, #git{
	background-color: #ffd180;
}
#adaptive{
	background-color: #29b6f6;
}
#node{
	background-color: #2e7d32;
}
